    body {
    font-family: Tahoma, arial, sans-serif;
    background-image: url("Bitmap.jpg");
    background-repeat: no-repeat;
    .Container {
        margin: auto;
        width: 60%;
        padding: 10px;
        position: center;
    }
    h1 {
        padding-top: 3%;
        margin: auto;
        width: 60%;
        color: black;
        font-family: open-sans;
        font-weight: lighter;
    }
    h4 {
        color: black;
        font-family: open-sans;
        font-weight: lighter;
    }
    #weatherInfo {
        color: black;
        font-family: open-sans;
        font-weight: lighter;
        font-size: 18px;
        width: 500px;
        padding: 10px;
        /*border: 3px solid black;*/
        margin: 0;
    }
    #cityName {
        color: black;
        font-family: open-sans;
        font-weight: lighter;
        font-size: 25px;
        margin: 0;
        border-bottom: 0px;
    }
